    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
     :root {
        --heading-col: white;
        --desc-col: hsl(232, 10%, 55%);
        --subhead-col: hsl(212, 27%, 19%);
    }
    
    body {
        font-family: 'Barlow', sans-serif;
    }
    
    .landing {
        height: 66vh;
        padding: 0 1em;
        background-image: url("../images/mobile/image-header.jpg");
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    
    .navigation-desk {
        display: none;
        margin: 0 auto;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
        justify-content: space-between;
        align-items: center;
        .navlinks {
            width: 50%;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            a {
                text-decoration: none;
                color: white;
                padding: .5em 1.5em;
            }
            a:hover {
                background-color: white;
                color: var(--subhead-col);
                border-radius: 2em;
            }
        }
    }
    
    .navigation-desk {
        display: none;
        margin: 0 auto;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
        justify-content: space-between;
        align-items: center;
        .navlinks {
            width: 50%;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            a {
                text-decoration: none;
                color: white;
                padding: .5em 1.5em;
            }
            a:hover {
                background-color: white;
                color: var(--subhead-col);
                border-radius: 2em;
            }
        }
    }
    
    .navigation-mobile {
        margin: 0 auto;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .hamburger {
            cursor: pointer;
        }
        z-index: 10;
    }
    
    .heading {
        text-align: center;
        font-family: 'Fraunces';
        color: var(--heading-col);
        padding-top: 1em;
        text-transform: uppercase;
        font-size: clamp(1rem, 100vw, 2rem);
        letter-spacing: .3rem;
        font-weight: 900;
    }
    
    .arrow {
        display: flex;
        justify-content: center;
        padding-top: 2em;
    }
    
    @import '_graphic';
    @import '_transform';
    @import '_gallery';
    @import '_testimonials';
    @import '_footer';
    .attribution {
        font-size: .8rem;
        text-align: center;
        padding: 0 1em;
        padding-bottom: 1em;
        span {
            color: hsl(167, 40%, 24%);
        }
    }
    
    .attribution a {
        text-decoration: none;
        color: hsl(167, 40%, 24%);
    }
    
    .navigation-desk.active {
        position: absolute;
        height: 220px;
        width: 250px;
        left: 10%;
        right: 10%;
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;
        padding: 2em 0;
        border-radius: .5em;
        animation: fadeIn .5s;
        // z-index: 1;
        .navlinks {
            flex-direction: column;
            li {
                padding: 1em 0;
                text-align: center;
                margin: 0;
            }
            a {
                color: var(--desc-col);
            }
            a:hover {
                background-color: yellow;
            }
        }
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .hamburger {
        display: unset;
    }
    
    .logo-desk {
        display: none;
    }
    
    @media(min-width:768px) {
        .landing {
            height: 40em;
            background-image: url("../images/desktop/image-header.jpg");
            background-size: cover;
            .heading {
                padding-top: 2em;
            }
        }
        .logo-desk {
            display: unset;
        }
        .landing.slide-nav::after {
            content: none;
        }
        .navigation-mobile {
            display: none;
        }
        .navigation-desk {
            display: flex;
        }
        .sec {
            display: grid;
            grid-template-columns: 50% 50%;
            .transform,
            .transform-two {
                display: flex;
                align-items: flex-start;
                width: 55%;
                margin: auto auto;
                .subheading {
                    padding-top: 1em;
                    font-size: 2rem;
                    text-align: left;
                    padding-left: 0;
                }
                .description {
                    text-align: left;
                    padding-left: 0;
                }
                .transform {
                    grid-row: 1/2;
                }
            }
        }
        .egg {
            height: 100%;
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .tumblr {
            height: 100%;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .client-testimonials {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 40% 60%;
            .heading.testimonials {
                grid-column: 1/4;
            }
            .client {
                padding: 0 2em;
                padding-bottom: 1em;
            }
        }
        .gallery {
            max-width: 100%;
            padding-top: 3em;
            grid-template-columns: repeat(4, 1fr);
        }
        .footer-nav {
            width: 30%;
            padding-top: 2em;
            a:hover {
                color: hsl(167, 40%, 24%);
            }
        }
        .social-links {
            padding-top: 5em;
            width: 30%;
        }
        .sub-container {
            display: flex;
        }
        .graphics {
            width: 50%;
            .subheading {
                padding-top: 90%;
            }
        }
    }